*{
  box-sizing: border-box;
  background-image: url(book/libraryimage.jpg);
  
}
.img{
  max-width: 100%;
}
.navbar{
  background:tomato;
  padding: 20px;
  justify-content:space-evenly;
  
}
.navbar:hover{
  background:tan;
}
.form-control{
  text-align: center;
  width: 100%;
 background: bisque;
 color: red;

}
.disp>h1{
  background:tan;
  margin: 0px;

}
.outdisp {
  display:inline-block;
  width: 8rem;
  box-sizing: border-box;
  margin: 20px; 
}
.disp{
  background: tan;
  color:aliceblue;
}

.calc,button{
  padding:30px;
  
  background:sandybrown; 
  border-color:whitesmoke; 
  
} 
.calc>button:hover{
  background-color:maroon;
}
.calc{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
}
.formcon{
  padding:20px;
  background: sandybrown;
  
}
.formcon,input{
  padding:20px 70px 10px 0px;
  background:white;
  
}